dwmblocks &
nm-applet &
redshift-gtk &
unclutter &
udiskie &
dunst &
background &
imwheel 2>/dev/null &
light-locker --lock-on-suspend &
rfkill block bluetooth &
numlockx on &
xrdb -load ~/.Xresources &
picom -CGb --experimental-backends --config="$HOME"/.config/picom/picom_"$(hostname)".conf &
